@-webkit-keyframes spin {   
  to {   
    -webkit-transform: rotateY(360deg) rotateX(360deg);   
    transform: rotateY(360deg) rotateX(360deg);   
  }   
}   
  
@keyframes spin {   
  to {   
    -webkit-transform: rotateY(360deg) rotateX(360deg);   
    transform: rotateY(360deg) rotateX(360deg);   
  }   
}  
